<div class="closeicon">
    <mat-icon (click)="close()" style="color:red" matPrefix>cancel</mat-icon>
</div>


<h4 style="text-align: center;">FeedBack Form</h4>

<div style="padding: 10px;">
    <h5 style="padding: 4px;">How productive was assistant?</h5>
    <mat-radio-group style="padding: 4px;" aria-label="Select an option">
        <mat-radio-button value="1">Not at all</mat-radio-button>
        <mat-radio-button value="2">Normal</mat-radio-button>
        <mat-radio-button value="2">Very Productive</mat-radio-button>
    </mat-radio-group>

    <h5 style="padding: 4px;">How well the assistant comunicate with students?</h5>
    <mat-radio-group style="padding: 4px;" aria-label="Select an option">
        <mat-radio-button value="1">Not at all</mat-radio-button>
        <mat-radio-button value="2">Normal</mat-radio-button>
        <mat-radio-button value="2">Very Productive</mat-radio-button>
    </mat-radio-group>

    <h5 style="padding: 4px;">Has the assistant ability to solve the problems?</h5>
    <mat-radio-group style="padding: 4px;" aria-label="Select an option">
        <mat-radio-button value="1">Not at all</mat-radio-button>
        <mat-radio-button value="2">Normal</mat-radio-button>
        <mat-radio-button value="2">Very Productive</mat-radio-button>
    </mat-radio-group>

    <h5 style="padding: 4px;">Any other relavent comments?</h5>
    <input type="text" style="width: 70%;height:6em">
<br>
<div style="margin-top: 1em;display:flex;justify-content:center">
    <button  mat-flat-button color="primary" >Submit</button>

</div>
    
</div>