<div class="body">

    <div *ngIf="!spin">
        <div class="closeicon">
            <mat-icon (click)="close()" style="color:red" matPrefix>cancel</mat-icon>
        </div>
        <img class="logo" src="https://cust.edu.pk/static/uploads/2018/05/CUSTblack.png" alt="">
        <h1 *ngIf="data">
            {{data.user}} Login
        </h1>
        <mat-form-field class="field" color="primary" appearance="outline">
            <mat-label class="noto">EMAIL</mat-label>
            <mat-icon matPrefix>mail</mat-icon>
            <input [(ngModel)]="email" type="text" matInput placeholder="Placeholder">

            <mat-hint *ngIf="error=='email'" style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">{{errmsg}}
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="field" color="primary" appearance="outline">
            <mat-label class="noto">Password</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input [(ngModel)]="password" type="password" matInput placeholder="Placeholder">

            <mat-hint *ngIf="error=='password'" style="font-family: Roboto;color: rgba(255, 0, 0, 0.733);">{{errmsg}}
            </mat-hint>
        </mat-form-field>

    </div>

    <button *ngIf="!spin" class="btn" mat-flat-button color="primary" (click)="validate()">LOGIN</button>

    <mat-progress-spinner *ngIf="spin" class="example-margin" color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>