<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img class="logo" src="https://cust.edu.pk/static/uploads/2018/05/CUSTblack.png" alt="">
    </mat-toolbar>
    <mat-nav-list class="items">
      <h3 class="mukta">
        C.U.S.T
      </h3>


<!-- admin side menu -->
      <div *ngIf="cUser && cUser.userType=='admin'" class="lists">
        <p class="active" (click)="gotopage('admin-dashboard')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          DASHBOARD
        </p>

        <p (click)="gotopage('admin-dashboard')" mat-list-item>
          <mat-icon class="i" matPrefix>computer</mat-icon>
          Final Year Project
        </p>


        <p (click)="gotopage('query-management')" mat-list-item>
          <mat-icon class="i" matPrefix>contact_support</mat-icon>
          Student Queries
        </p>

        <p (click)="openDialog('Students')" mat-list-item>
          <mat-icon class="i" matPrefix>add_circle</mat-icon>
          Create Students
        </p>

        <p (click)="openDialog('Teachers')" mat-list-item>

          <mat-icon class="i" matPrefix>add_circle</mat-icon>
          Create Teachers

        </p>



        <p (click)="logOut()" mat-list-item>

          <mat-icon class="i" matPrefix>logout</mat-icon>
          Logout

        </p>



      </div>

      <!-- students side menu -->

      <div *ngIf="cUser &&  cUser.userType=='Students'" class="lists">
        <p class="active" (click)="gotopage('student-dashboard')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Home
        </p>



        <p (click)="logOut()" mat-list-item>

          <mat-icon class="i" matPrefix>logout</mat-icon>
          Logout

        </p>



      </div>


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="none">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>

    <ng-content>

    </ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>