<app-main-nav>

  <!-- view 1 -->
  <div *ngIf="!view">

    <div class="cardwrapper" style="position: absolute;top:18em">
      <h3 style="font-weight: bold;">Requests from Users</h3>


    </div>

    <div class="cardwraper">

      <br>
      <div class="card" *ngFor="let r of requests">
        <div (click)="remove(r.docID)" class="icon">
          <mat-icon>cancel</mat-icon>
        </div>

        {{r.name}} has requested for account creation for role of {{r.role}}

        <button class="btn" mat-flat-button color="primary" (click)="approve(r)">Approve</button>


      </div>


    </div>

    <p (click)="shift()">
      <b>
        <u>
          View Labs
        </u>
      </b>
    </p>

    <div class="uploadFile">
      <h4 style="font-weight: bold;margin: 0;">Upload excel file to create labs and assign instructors</h4>

      <div class="uploadCard">
        <p style="margin: 0;">Upload the excel file to create labs</p>

        <input #fileImportInput (change)="fileChangeListener($event)" accept=".csv" type="file" />



      </div>

    </div>

  </div>

  <!-- view 2 for viewing students with certificates / cash etc -->

  <div style="padding: 8px;"  *ngIf="view">

    <p (click)="shift()">
      <b>
        <u>
          back
        </u>
      </b>
    </p>
<br>

<div class="flexgrid"> 
  <div *ngFor="let item of labs" class="basic-card basic-card-light">
    <div class="card-content">
      <span class="card-title">{{item.labName}}</span>
      <p class="card-text">
   Instrutor of the lab is: {{item.teacherName}}
      </p>
    </div>

    <div class="card-link">
      <a (click)="viewLab(item.docID)"><span>Expand</span></a>
    </div>
  </div>

</div>

  </div>
</app-main-nav>