<div class="page">

    <div class="header">
        <img src="https://cust.edu.pk/static/uploads/2018/05/CUSTblack.png" alt="">

        <h2>
            C.U.S.T Student Lab Assistant
        </h2>

        <p>
            <span (click)="openRequestDialog()" style="color: blue;"> Request </span> to create an account
        </p>
    </div>


    <div class="body">

        <mat-card class="card">
            <div class="cardheader">
                Admin Login
            </div>
            <img src="https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGFkbWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="openDialog('Admin')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    LOGIN
                </button>
            </div>

        </mat-card>
        <!-- lab instructor -->
        <mat-card class="card">
            <div class="cardheader">
                Lab Instructor Login
            </div>
            <img src="../../assets/supervisor.png" alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="openDialog('Lab Instructor')" style="width: 50%;font-family: Open-Sans;"
                    mat-flat-button color="primary">
                    LOGIN
                </button>
            </div>

        </mat-card>

        <mat-card class="card">
            <div class="cardheader">
                Student Login
            </div>
            <img src="../../assets/students.png" alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="openDialog('Student')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    LOGIN
                </button>
            </div>

        </mat-card>



    </div>



</div>